src/main/mule/cloudhub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="27b10852-8822-476e-8ece-4affb99a77ca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cloudhubFlow" doc:id="2e0034d0-702e-4cdf-adff-5274a0d9e977" >
		<http:listener doc:name="Listener" doc:id="95940f78-18a7-4b21-a35b-69c516a0349e" config-ref="HTTP_Listener_config" path="/hellow-world"/>
		<set-payload value='#["its worked"]' doc:name="Set Payload" doc:id="876e3316-9b61-497b-af83-6f8e3325f0c5" />
		<logger level="INFO" doc:name="Logger" doc:id="c2238986-dd21-4796-a4f0-f9281d0a0701" />
	</flow>
</mule>
